<% provide(:title, 'My Drop-Ins') %>

<div class="my-drop-ins-top">
  <%= render "shared/header" %>
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>My Drop-Ins</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-drop-ins block">
  <div class="container">
    <% @drop_ins.each_with_index do |drop_in, idx| %>
      <div id="drop_in_<%= drop_in.id %>" class="single-drop-in row">
        <% if current_shopper %>
          <%= render 'upcoming_for_shopper', drop_in: drop_in %>
        <% end %>
      </div>
    <% end %>
    <% if current_shopper %>
      <div class="continue-browsing">
        <div class="col-md-4 col-xs-4">
          <a class="btn btn-lg btn-primary" href=<%= retrieve_recommendation_home_path %>>
            <span class="glyphicon glyphicon-chevron-left"></span>  Continue Browsing
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
