<% provide(:title, 'My Drop-Ins') %>

<div class="my-drop-ins-top">
  <%= render "shared/header" %>
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>My Drop-Ins</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-drop-ins block">
  <div class="container">
    <% @drop_ins.each_with_index do |drop_in, idx| %>
      <div class="single-drop-in row">
        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
          <div class="col-md-1 col-xs-1 text-center">
            <a href="#"><i class="fa fa-lg fa-times"></i></a>
          </div>
          <div class="col-md-3 col-xs-3 text-center">
            <h4><%= drop_in.colloquial_time %></h4>
          </div>
          <div class="col-md-4 col-xs-4 text-center">
            <h4><%= drop_in.retailer.name %></h4>
          </div>
          <div class="col-md-4 col-xs-4 text-center">
            <h4><%= DropInAvailability.corresponding_to_time_slot(drop_in.retailer_id, drop_in.time)
                                      .first.location.stringify %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
