<%= render "shared/header" %>

<div class="container home-page intro">
  <div class="row">
    <div class="col-xs-8 col-sm-6 text-right">
      <h1>Hand-picked Style at your favorite Fashion Boutiques</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-6 text-right">
      <a href="#" class="btn btn-default" id="show-how-it-works">How it works</a>
    </div>
  </div>
</div>

<% unless Retailer.all_live.empty? || ENV['OST_RELAUNCH_PREP'] %>
<div class="container home-page boutiques">
  <hr />
  <div class="row text-center">
    <h1>Featured boutique</h1>
  </div><br /><br />
  <div class="row">
    <%= render 'retailers/retailer', retailer: Retailer.all_live.sample %>
  </div>
  <hr />
</div>
<% end %>

<div class="container home-page how-it-works">
  <div class="row text-center">
    <h1>How it works</h1>
  </div>
  <%= render 'how_it_works' %>
  <div class="row text-center">
    <%= link_to('Get started today!', new_user_registration_path, class: 'btn btn-lg try-today')%>
  </div>
</div>

<% set_meta_tags og: {
                         locale: 'en_US',
                         type:     'website',
                         title:    'OpenStile | Hand-picked style at your favorite local boutiques',
                         description: 'OpenStile lets you book FREE personal styling sessions at neighborhood boutiques.' +
                                      ' Walk in to find items pre-selected based on your likes, budget, body type and more!',
                         url:      'http://www.openstile.com',
                         image:    'https://res.cloudinary.com/openstile/image/upload/v1447729511/openstilelogo-small-square_rx8yto.png'
                 }
%>