<%= render "shared/header" %>

<div class="container homepage">
  <div class="section">
    <% unless Retailer.all_live.empty? || ENV['OST_RELAUNCH_PREP'] %>
        <h1 class="text-center">Featured Boutique</h1>
        <% retailer = Retailer.all_live.sample %>
        <%= react_component 'Retailer', data: {name: retailer.name,
                                               pageLink: retailer_path(retailer),
                                               neighborhood: retailer.location.neighborhood,
                                               city: StreetAddress::US.parse(retailer.location.address).city} %>
    <% end %>
  </div>

  <div class="section">
    <h1 class="text-center">How it works</h1>
    <%= react_component 'HowItWorks' %>
  </div>

  <div class="section">
    <% unless user_signed_in? %>
        <h1 class="text-center">Get started today</h1>
        <%= react_component 'StyleForm', data: {top_sizes: TopSize.all.map{|s| {value: s.id, label: s.name}},
                                                bottom_sizes: BottomSize.all.map{|s| {value: s.id, label: s.name}},
                                                dress_sizes: DressSize.all.map{|s| {value: s.id, label: s.name}}},
                                         authenticity_token: form_authenticity_token %>
    <% end %>
  </div>
</div>

<% set_meta_tags og: {
                         locale: 'en_US',
                         type:     'website',
                         title:    'OpenStile | Hand-picked style at your favorite local boutiques',
                         description: 'OpenStile lets you book FREE personal styling sessions at neighborhood boutiques.' +
                                      ' Walk in to find items pre-selected based on your likes, budget, body type and more!',
                         url:      'http://www.openstile.com',
                         image:    'https://res.cloudinary.com/openstile/image/upload/v1447729511/openstilelogo-small-square_rx8yto.png'
                 }
%>

<% set_meta_tags twitter: {
                         card: "summary_large_image",
                         site: "@OpenStile"
                 }
%>