<% retailer = Retailer.all_live.sample unless Retailer.all_live.empty? %>
<div class="homepage">
  <div class="above-fold">
    <%= render "shared/header" %>
    <div class="row">
      <div class="featured-boutique col-xs-8 col-md-5">
        <div class="col-xs-12 col-md-10 col-md-offset-2 text-right">
          <h4>OpenStile Featured Boutique:</h4>
          <h3><a href="#"><%= retailer.name %></a></h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="marquee col-md-5 col-md-offset-7 col-xs-10 col-xs-offset-1">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <h1 class="logo"><%= image_tag('logo_white.png', class: 'img-responsive center-block') %></h1>
            <p class="tag-line">Complimentary Services. Never an obligation to buy. Be the ultimate you.</p>
            <div class="cta-buttons col-xs-12">
              <div class="col-xs-6 text-center">
                <a href="#" class="btn btn-default">Learn More</a>
              </div>
              <div class="col-xs-6 text-center">
                <a href="#" class="btn btn-default">Join OpenStile</a>
              </div>
            </div>
            <div class="existing-member col-xs-12">
              <div class="col-xs-10 col-xs-offset-1 text-center">
                <span>already a member? <a href="#">sign in</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-about-us">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="main-text col-xs-12 col-sm-6 text-center">
            <h4>
              Fashion is what you buy. Style is what you do with it. OpenStile has partnered with unique boutiques in Brooklyn, NY
              to bring the best fashion for our members.  Never focused on fads, OpenStile pairs you with the best boutiques to help you enhance your
              personal style. With individual undivided attention with a boutique stylist who is well educated in fashion styling and the brands
              they carry, you have the best assistance available to make sure your fashion is as amazing and unique as you are.
              Services are complementary. Never any obligation to buy. Just enjoy being the ultimate you.
            </h4><br />
            <a href="#">more about us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefits text-center">
    <h2>Benefits of OpenStile</h2>
    <div class="highlights container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
          <h4>Love Shopping Again</h4>
          <p class="text">
            No more crowded stores or waiting in lines. Enjoy personal attention as well as fashion designed.
            Enjoy personal attention as well as fashion designed for unique individuals like yourself, and not for the masses.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
          <h4>Save Time and Money</h4>
          <p class="text">
            Stop rummaging through racks or be stuck in dressing rooms.  One services are complementary and our in-house
            boutique stylists will curate everything for you based off your style, budget, and needs before you arrive.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
          <h4>Unique Pieces</h4>
          <p class="text">
            Never get caught wearing the same thing as anyone else again.
            Love the peices you find not just for their exclusive designs, but the designers behind them.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works">
    <div class="row">
      <div class="banner col-xs-8 col-xs-offset-4 col-md-5 col-md-offset-7">
        <h1>It's Easy!</h1>
      </div>
    </div>
    <div class="row">
      <div class="step col-xs-6 col-xs-offset-4 col-md-4 col-md-offset-7">
        <div class="number col-xs-1 text-left">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x">1</strong>
          </span>
        </div>
        <div class="text col-xs-10 col-xs-offset-1 text-left">
          <h4>Create a style profile</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="step col-xs-6 col-xs-offset-4 col-md-4 col-md-offset-7">
        <div class="number col-xs-1 text-left">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x">2</strong>
          </span>
        </div>
        <div class="text col-xs-10 col-xs-offset-1 text-left">
          <h4>Set free appointment at your top matched boutiques</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="step col-xs-6 col-xs-offset-4 col-md-4 col-md-offset-7">
        <div class="number col-xs-1 text-left">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x">3</strong>
          </span>
        </div>
        <div class="text col-xs-10 col-xs-offset-1 text-left">
          <h4>Arrive at your appointment. Enjoy shopping fashion that truly expresses the ultimate you</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="signup">
    <div class="container">
      <div class="row">
        <div class="marquee col-md-5 col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <h3>Be an OpenStile Member Today!</h3><br/>
          </div>
          <%= react_component 'Signup', data: {}%>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    <% if retailer.present? %>
        var update_background_img = function(){
            var height = $(window).height();
            var width = $(window).width();
            $(".homepage .above-fold").css('background', "url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_north,h_" + height + ",w_" + width + "/v1470603639/AdobeStock_73096902_WM_v7rb4p.jpg') no-repeat center center");
        };
        $(document).ready(update_background_img);
        $(window).resize(update_background_img);
    <% end %>
</script>

<% set_meta_tags og: {
                         locale: 'en_US',
                         type:     'website',
                         title:    'OpenStile | Hand-picked style at your favorite local boutiques',
                         description: 'OpenStile lets you book FREE personal styling sessions at neighborhood boutiques.' +
                                      ' Walk in to find items pre-selected based on your likes, budget, body type and more!',
                         url:      'http://www.openstile.com',
                         image:    'https://res.cloudinary.com/openstile/image/upload/v1447729511/openstilelogo-small-square_rx8yto.png'
                 }
%>

<% set_meta_tags twitter: {
                         card: "summary_large_image",
                         site: "@OpenStile"
                 }
%>