<% provide(:title, 'About') %>

<div class="top-small">
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>About us</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us block">
  <div class="container">
    <div class="about-one">
      <div class="about-one-item">
        <div class="about-one-img">
          <!-- Image -->
          <%= image_tag("dancing.jpg", class: "img-responsive")%>
        </div>
      </div>
      <div class="about-one-item">
        <div class="about-one-content">
          <h3>What We Believe</h3>
          <p>At OpenStile, it's more than a passion for fashion. We know three things:</p>
          <ul>
            <li>Powerful things happen when women look and feel their best.</li>
            <li>Every woman has a style of her own that makes her stand out from the crowd.</li>
            <li>The beautiful, unique pieces that enhance our personal style can be found at all the really cool fashion boutiques in our neighborhoods.</li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>    
</div>
