<% provide(:title, 'Blog') %>

<div class="block">
  <div class="container">
    <div class="page-title text-center">
      <h3>OpenStile Blog</h3>
    </div>
    <hr>

    <div class="blog-thumbnails">
      <div class="row">
        <div class="col-md-6 portfolio-item">
          <%= render "blog_01" %>
        </div>
        <!-- Placeholder for next blog -->
        <!--div class="col-md-6 portfolio-item">
          < %= render "blog_01" %>
        </div-->
      </div>
    </div>
  </div>
</div>

<%= render "shared/google_analytics" %>
