<%= render "mailer_header", intro_message: 'Please confirm your OpenStile account' %>

<div class="mailer container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 login-section text-center">
      <h1>Welcome to OpenStile</h1>
      <br />
      <h4>Get ready for better, more personal way to shop!</h4>
      <br /><br />
      <a class="mailer-cta" href="#">Confirm account</a>
    </div>
  </div>
</div>