<% provide(:title, 'Confirm Email') %>

<%= render "shared/header" %>

<div class="join_now">
  <div class="container">
    <div class="row">
      <div class="thanks col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <div class="contents text-center">
          <h2>Thanks for Signing Up!</h2>
          <h3>We need you to confirm your email address.</h3>
          <div class="icon">
            <%= image_tag('signup_success.png', width: 100, class: 'img-responsive center-block') %>
          </div>
          <h3>Please click the link in the email we just sent you.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
