<% provide(:title, 'Welcome') %>

<% content_for :page_header do %>
    <%= stylesheet_link_tag 'join_now' %>
<% end %>

<%= render "shared/header" %>

<div class="join_now">
  <div class="container">
    <div class="row">
      <div class="thanks col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <div class="contents text-center">
          <h2>Thanks for Signing Up!</h2>
          <h3>We are excited to start styling with you! We will be in touch about your access to our beta.</h3>
          <div class="icon">
            <%= image_tag('signup_success.png', width: 100, class: 'img-responsive center-block') %>
          </div>
          <h3>In the meantime, check out our</h3>
          <a class="btn btn-default" href="http://blog.openstile.com">Style Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
