<% provide(:title, 'Explore Washington DC Fashion Boutiques') %>

<div class="prelaunch-small">
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>We're coming to Washington D.C.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

