<% provide(:title, 'Relaunch') %>

<%= render "shared/header" %>

<div class="signup container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 login-section">
      <br /><br />
      <h4 class="text-center">Thanks for your patience as we make updates to our site and service.</h4>
      <br />
      <h4 class="text-center">Expect great things once the dust settles, and stay tuned for our relaunch!</h4>
      <br /><br />
    </div>
  </div>
</div>