<% provide(:title, 'Fashion Retailers Reach More Shoppers') %>

<div class="retailer-info block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title text-center">
          <h3>We're crazy about Homegrown Fashion Retailers</h3>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="retailer-info-content">
          <p>
            You carry the unique pieces that enhance our personal style.
            You shape the local fashion culture of our cities. 
            In short, you're awesome!
          </p> 
          <p>
            We know that you want to get out and sustain a buzz for your brand, 
            but it's tough to cut through the noise to effectively reach local shoppers. 
            This is especially true if you don't have tons of natural foot traffic. 
          </p>
          <p>
            OpenStile is a personalized way for shoppers to explore local fashion retailers. 
            It allows shoppers to discover retailers and schedule drop-in sessions 
            according to their personal style preferences.
          </p>
          <p>
            OpenStile lowers the barriers to chic women discovering your store, 
            having an awesome shopping experience with you, and spreading the word about your brand!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="prelaunch">
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>We're coming to Washington D.C!</h2><br />
            <p>Sign up for more information on becoming an OpenStile Retailer</p>
            <div class="retailer_signup">
              <%= render "retailer_signup_form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/google_analytics" %>

