<% provide(:title, 'Sign up') %>

<div class="signup-top">
  <%= render "shared/header" %>
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>Coming soon to Washington DC!</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="signup block">
  <div class="container">
    <div class="page-title text-center">
      <p>Enter your email address to be the first to know when we launch.</p>
    </div>
    <%= render "pre_registration" %>
  </div>
</div>

<script>
  $("#showCellHelp").click(function() {
    event.preventDefault();
    $("#cellHelp").removeClass("hidden");
  });  
</script>

<%= render "shoppers/shared/links" %>
