<% provide(:title, 'Drop-in Availability') %>

<%= render "shared/header" %>

<div class="drop-in-availability container">
  <div class="row intro text-center">
    <h3>
      Select a day and use the form below to set your drop in availability.
      Highlighted days are ones you have marked as available for drop-ins.
    </h3>
  </div>

  <div class="row calendar">
    <div class="col-xs-8 col-xs-offset-2">
      <div id="calendar" data-retailer-id=<%=current_user.retailer.id%>>
      </div>
    </div>
  </div>

  <div class="row form">
    <div class="col-xs-6 col-xs-offset-3">
      <div id="availability_form">
        <%= render 'create_form',
                   drop_in_availability: @drop_in_availability,
                   date: @date %>
      </div>
    </div>
  </div>
</div>
