<% provide(:main_title, 'Please review your styling') %>
<% provide(:intro_blurb, "Hey, how'd the styling session go?") %>

<% provide(:cta_text, 'Rate my styling') %>
<% provide(:cta_link, upcoming_drop_ins_url) %>

<p>Hi <%= @styling.user.first_name.capitalize %>,</p>

<p>
  We hope you enjoyed your styling session with <%= @styling.retailer.name %>! We aim
  to continually improve our service. Please click the link below to rate your styling.
</p>
