<% provide(:main_title, 'Your styling session has been canceled') %>
<% provide(:intro_blurb, 'Your styling session has been canceled') %>

<% provide(:cta_text, 'View my stylings') %>
<% provide(:cta_link, upcoming_drop_ins_path) %>

<p>Hello <%= @styling.user.first_name.capitalize %>,</p>

<p>Your styling session with <%= @styling.retailer.name %> for <%= @styling.colloquial_time %> has been canceled.</p>
<br />

<p>Check out all of your remaining styling sessions on OpenStile.</p><br />