<p>Hello <%= @shopper_name %>!</p>

<p>You have scheduled a styling with <%= @store_name %> for <%= @booking_time %>.</p><br />

<p>Check out all of your upcoming stylings on OpenStile <%= link_to "here", 'www.openstile.com/drop_ins/upcoming' %>. </p><br />

<p>Sincerely, </p><br />

<p>Your friends at OpenStile</p><br />