<% provide(:main_title, 'Welcome to OpenStile Beta') %>
<% provide(:intro_blurb, "We can't wait to start styling!") %>

<% provide(:cta_text, 'Create Style Profile') %>
<% provide(:cta_link, @link) %>

<p>Hi <%= @first_name %>,</p>

<p>
  Thanks for being a part of the OpenStile beta! We are excited to start matching you with our partner boutiques
  for curated personal styling sessions. Let's get started! Please click below to complete your style profile.
</p>