<% provide(:title, 'Swipe Stile Quiz') %>

<div class="swipe-stile">
  <div class="row logo-header">
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
      <a href="/"><%= image_tag('openstilelogo.png', class: 'img-responsive center-block') %></a>
    </div>
  </div>
  <%= react_component 'StyleProfile', sessionId: @session.id, swiperStyles: InterestSwiperQuiz::Style.all.shuffle.map{|s| {id: s.id, title: s.title, image: image_path("swipe_styles/panes/#{s.image}.jpg")}} %>
</div>
