<% provide(:title, 'Swipe Stile Quiz') %>

<% content_for :page_header do %>
    <%= javascript_include_tag 'swipe_styles' %>
    <%= stylesheet_link_tag 'swipe_styles' %>
<% end %>

<div class="swipe-stile">
  <div class="row logo-header">
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
      <a href="/"><%= image_tag('openstilelogo.png', class: 'img-responsive center-block') %></a>
    </div>
  </div>
  <%= react_component 'StyleProfile', sessionId: @session.id, profileId: @session.profile.id,
                      swiperStyles: InterestSwiperQuiz::Style.all.shuffle.map{|s| {id: s.id, title: s.title, image: image_path("swipe_styles/panes/#{s.image}.jpg")}},
                      bodyTypeImages: {
                              column: image_path("column_body_type.png"),
                              apple: image_path("apple_body_type.png"),
                              hourglass: image_path("hourglass_body_type.png"),
                              inverted_triangle: image_path("inverted_triangle_body_type.png"),
                              pear: image_path("pear_body_type.png")
                      }  %>
</div>
