<% provide(:title, 'Swipe Stile Results') %>

<% content_for :page_header do %>
    <%= javascript_include_tag 'swipe_styles' %>
    <%= stylesheet_link_tag 'swipe_styles' %>
<% end %>

<div class="container style-page">
  <br />
  <div class="row text-center">
    <h2>'Swipe Stile' Results</h2>
  </div>
  <div class="row style-results">
    <div class="col-lg-10 col-lg-offset-1">
      <%= react_component 'StyleProfile.Results', profiles: InterestSwiperQuiz::Profile.order("created_at desc").map{|p|
                                                  {profile: p, sessions: p.sessions,
                                                   likes: InterestSwiperQuiz::Like.where(session_id: p.sessions.pluck(:id)).map{|l| image_path("swipe_styles/panes/#{l.style.image}.jpg")}
                                                  }} %>
    </div>
  </div>
</div>