<% if object.errors.any? %>
  <div id="error_explanation">
    <p>Oops, there was an error saving the information</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

