<div class="experience container">
  <div class="content row">
    <div class="col-xs-12 text-center">
      <h4>SHOP LIKE A VIP</h4><br />
    </div>
    <div class="col-xs-12">
      <%= image_tag("garment_bag.jpg", class: "img-responsive center-block") %>
    </div>
    <div class="col-xs-12 text-center">
      <br /><h5>When you shop with OpenStile, our stores will know:</h5>
      <ul>
        <li>When you're coming in</li>
        <li>What you do and don't like</li>
        <li>What you're actively seeking</li>
      </ul>
      <h5>
        Powered by this knowledge they'll pre-select a few
        outfits for your personalized OpenStile Garment bag!
      </h5><br />
      <% unless Retailer.all_live.empty? %>
          <% sample_retailer = Retailer.all_live.sample %>
          <div class="text-center">
            <%= link_to("Treat yourself to a FREE styling at #{sample_retailer.name}!",
                        retailer_path(sample_retailer), class: "btn btn-lg btn-default try-today opn-btn")%>
          </div>
      <% end %>
    </div>
  </div>
</div>