<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <h1><a href="#">OpenStile</a></h1>
        </div>
      </div>
      <div class="navigation pull-right">
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Blog", blog_path %>
      </div>
    </div>
  </div>
</header>

