<nav class="navbar navbar-default navbar-openstile">
  <div class="container-fluid">
    <div class="navbar-header">
      <% unless current_page?(controller: 'static_pages', action: 'home') %>
        <a class="navbar-brand" id="header-brand" href="/"><%= image_tag('logo_white.png', class: 'img-responsive center-block', width: 300) %></a>
      <% end %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">how it works</a></li>
        <li><%= link_to 'about us', about_path %></li>
        <li><a href="#">style blog</a></li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">sign up</a></li>
      </ul>
    </div>
  </div>
</nav>