<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <h1><%= link_to "OpenStile", root_path %></h1>
        </div>
      </div>
      <div class="navigation pull-right">
        <%= link_to "About", about_path %>
        <%= link_to "Blog", blog_path %>
        <%= link_to "Log in", new_shopper_session_path %>
      </div>
    </div>
  </div>
</header>

