<div class="style-feed-top">
  <%= render "shared/header" %>
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>My Style Feed</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="style-feed block">
  <div class="container">
    <div role="tabpanel">
      <ul class="nav nav-pills nav-justified" role="tablist" id="feedTab">
        <li role="presentation" class="active">
          <a href="#recommended" aria-controls="recommended" role="tab" data-toggle="tab">
            Suggested for me
          </a>
        </li>
        <li role="presentation">
          <a href="#all" aria-controls="all" role="tab" data-toggle="tab">
            All items
          </a>
        </li>
        <li role="presentation">
          <a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">
            My Favorites
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="recommended">
          <div class="page-title text-center">
            <% if @recommendations.empty? %>
              <p>
                Looks like we don't have any recommendations for you as of yet.
                Try answering a few questions in your Style Profile 
                and check back to see what we find for you.
              </p>
            <% else %>
              <p>
                Check out these items from local retailers that we suggest<br /> 
                specifically for <span style="text-decoration: underline;">your</span> 
                budget, body, and overall personal style!
              </p>
            <% end %>
            <hr>
          </div>
          <%= render 'shared/recommendation_feed', list: @recommendations,
                                                   tab: 'recommendation'%>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="all">
          <div class="page-title text-center">
            <p>
              Want to see what's out there? Here are items from all of our 
              OpenStile retailers ranked by their popularity.
            </p>
            <hr>
          </div>
          <%= render 'shared/recommendation_feed', 
                 list: @ranked_items.map{|item| {object: item, justification: []}},
                 tab: 'all'%>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="favorites">
        </div>
      </div>
    </div>
  </div>
</div>

