<%= render "shared/header" %>

<div class="dashboard container">
  <div class="row tiles">
    <div class="col-xs-12 col-md-6">
      <div class="tile tile-1 text-center">
        <a href="<%= retailer_path current_user.retailer %>">
          <h3>View my store page</h3><br />
          <h3><i class="fa fa-2x fa-building-o"></i></h3><br />
          <h4>This is a preview of what shoppers will see when they visit your store's page.</h4>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="tile tile-2 text-center">
        <a href="<%= upcoming_drop_ins_path %>">
          <h3>View my bookings</h3><br />
          <h3><i class="fa fa-2x fa-users"></i></h3><br />
          <h4>See who’s coming in and what they’re looking for. Also rate past bookings so we can keep improving the service.</h4>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="tile tile-3 text-center">
        <a href="<%= personal_drop_in_availabilities_path %>">
          <h3>Manage my availability</h3><br />
          <h3><i class="fa fa-2x fa-calendar"></i></h3><br />
          <h4>Control when shoppers can book style sessions by setting your availability.</h4>
        </a>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="tile tile-4 text-center">
        <a href="#">
          <h3>Press kit (coming soon)</h3><br />
          <h3><i class="fa fa-2x fa-share-square-o"></i></h3><br />
          <h4>All the pics, posts, tweets and more you need to let the world know you’re on OpenStile.</h4>
        </a>
      </div>
    </div>
  </div>
</div>
