<%= render "shared/header" %>

<div class="block">
  <div class="container">
    <div class="row text-center">
      <h2>Admin Home</h2>
    </div>
    <div class="row">
      <h3><%= link_to 'Manage retailers', retailers_path %></h3>
    </div>
    <div class="row">
      <h3><%= link_to 'Generate report', new_report_path %></h3>
    </div>
  </div>
</div>
