<div class="row text-center">
  <%= link_to "Start using OpenStile today!", 
                           new_shopper_registration_path, 
                           class: "get-started btn-default btn-lg" %>
</div>

