<% unless profile.top_sizes.empty? %>
    <p>Top sizes: <%= profile.top_sizes.map(&:name).join(', ') %></p>
<% end %>
<% unless profile.bottom_sizes.empty? %>
    <p>Bottom sizes: <%= profile.bottom_sizes.map(&:name).join(', ') %></p>
<% end %>
<% unless profile.dress_sizes.empty? %>
    <p>Dress sizes: <%= profile.dress_sizes.map(&:name).join(', ') %></p>
<% end %>
<% unless profile.body_builds.empty? %>
    <p>Build considerations: <%= profile.body_builds.map(&:name).join(', ') %></p>
<% end %>