<p>Hi <%= @referral.referrer_name %>!</p>
<p>Thanks for recommending <%= @referral.store_name %> for OpenStile. We'll reach out to <%= @referral.contact_name %>.</p>
<p>Sincerely, </p>
<p>Your friends at OpenStile</p>