<% unless links.web_link.blank? %>
    <div class="col-xs-2">
      <h3>
        <a href="<%= links.web_link%>" target="_blank">
          <i class="fa fa-link"></i>
        </a>
      </h3>
    </div>
<% end %>

<% unless links.facebook_link.blank? %>
    <div class="col-xs-2">
      <h3>
        <a href="<%= links.facebook_link%>" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </h3>
    </div>
<% end %>

<% unless links.twitter_link.blank? %>
    <div class="col-xs-2">
      <h3>
        <a href="<%= links.twitter_link%>" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </h3>
    </div>
<% end %>

<% unless links.instagram_link.blank? %>
    <div class="col-xs-2">
      <h3>
        <a href="<%= links.instagram_link%>" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </h3>
    </div>
<% end %>