<%= provide(:title, 'Boutiques') %>
<%= render "shared/header" %>

<div class="boutiques container">
  <% @retailers.each do |retailer| %>
      <%= render 'retailer', retailer: retailer %>
  <% end %>
</div>


