<% provide(:title, @retailer.name) %>
<%= render "shared/header" %>

<div class="recommendation-details block">
  <div class="container">
    <div class="row">
      <a href=<%= item_retailer_show_path(@retailer)%> >
        <%= cl_image_tag(@retailer.logo_image_name, 
                          class: "img-responsive center-block",
                          width: 200) %>
      </a><br />                    
    </div>
    <div class="row">
      <%= render 'shared/schedule_drop_in', retailer: @retailer, for_retailer: true %>
    </div>
  </div>
</div>
