<% provide(:main_title, 'Please review your styling') %>
<% provide(:intro_blurb, "Hey, how'd the styling session go?") %>

<% provide(:cta_text, 'Rate my styling') %>
<% provide(:cta_link, upcoming_drop_ins_url) %>

<p>Hello,</p>

<p>
  We hope the styling session with <%= @styling.user.first_name %> went well! We aim
  to continually improve our service. Please click the link below to rate your styling and provide feedback.
</p>
