<% provide(:main_title, 'Styling session canceled') %>
<% provide(:intro_blurb, 'Unfortunately your styling session has canceled.') %>

<% provide(:cta_text, 'View my stylings') %>
<% provide(:cta_link, upcoming_drop_ins_path) %>

<p>Hello <%= @styling.retailer.user.first_name.capitalize %>,</p>

<p><%= @styling.user.first_name %> has canceled their styling with you for <%= @styling.colloquial_time %>.</p><br />

<p>Check out your remaining stylings on OpenStile. </p>

