<p> <%= @greeting %>, </p>

<p> Your drop in with <%= @shopper.first_name %> for <%= @drop_in.colloquial_time %> has been canceled. </p>

<p> Check out your drop ins on OpenStile <%= link_to "here", 'www.openstile.com/drop_ins/upcoming' %>. </p>

<p> Sincerely, </p>

<p> Your friends at OpenStile </p>
