<p>

<%= @greeting %>, </br>

<%= @shopper.first_name %> scheduled a drop in for <%= @drop_in.colloquial_time %>. </br>

Check out your drop ins on OpenStile <%= link_to "here", 'www.openstile.com/drop_ins/upcoming' %>. </br>

Sincerely, </br>

Your friends at OpenStile

</p>

