<% provide(:main_title, 'New styling session booked') %>
<% provide(:intro_blurb, 'Wohoo! A shopper has booked a styling with your store.') %>

<% provide(:cta_text, 'View my stylings') %>
<% provide(:cta_link, upcoming_drop_ins_path) %>

<p>Hello <%= @styling.retailer.user.first_name.capitalize %>!</p>

<p>
  <%= @styling.user.first_name %> has scheduled a styling with you for <%= @styling.colloquial_time %>.
  You can review their style info through your OpenStile dashboard. Just a reminder, we ask that you put aside 2 - 3 looks
  in the OpenStile garment bags prior to the shopper's arrival.
</p><br />

<p>Check out this and all upcoming stylings on OpenStile. </p>


