<p>Hello <%= @owner_name %>,</p>

<p><%= @shopper_name %> has canceled their styling with you for <%= @booking_time %>.</p><br />

<p>Check out your updated stylings on OpenStile <%= link_to "here", 'www.openstile.com/drop_ins/upcoming' %>. </p><br />

<p>Sincerely, </p><br />

<p>Your friends at OpenStile</p><br />
