$staple-color-slightly-transparent: rgba(127,145,147,0.9);
$staple-color: rgb(127,145,147);
$grey-transparent: rgba(89,89,89,0.8);
$grey: rgb(89,89,89);
$form-errors-color: rgb(245,166,35);

$gray-medium-light: #eaeaea;
$state-danger-text: #ff0000;