$staple-color-slightly-transparent: rgba(127,145,147,0.9);
$staple-color: rgba(127,145,147,1);
$grey-transparent: rgba(89,89,89,0.8);


.navbar.navbar-openstile {
  background-color: transparent;
  background: transparent;
  border-color: transparent;

  .navbar-nav {
    li {
      a {
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        color: #000;
      }
    }
  }
}

.homepage {
  .above-fold {
    width: 100vw;
    height: 100vh;
  }

  .featured-boutique {
    background: $staple-color-slightly-transparent;
    padding: 1em;
    h4 {
      color: #FFF;
    }
    h3 {
      a {
        text-decoration: underline;
        color: #FFF;
      }
    }
  }

  .marquee {
    border-radius: 20px;
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 2em 0em;
    background: $grey-transparent;
    color: #FFF;

    .tag-line {
      margin: 1em 0em 2em;
      font-size: 1em;
    }

    .btn {
      margin-bottom: 2em;
      background: $staple-color;
      border-color: $staple-color;
      color: #FFF;
    }
  }

  .more-about-us {
    width: 100vw;
    min-height: 70vh;
    background: url('https://res.cloudinary.com/openstile/image/upload/c_thumb,g_north,w_1440/v1470623032/AdobeStock_89214761_WM_hamlkd.jpg') no-repeat top center;

    .main-text {
      margin: 5vh 0;
      h4 {
        line-height: 35px;
      }
    }
    a {
      font-size: 20px;
      text-decoration: underline;
      font-weight: bold;
      color: #000;
    }
  }

  .benefits {
    margin: 3em 0;

    .highlights {
      margin-top: 2em;

      h4 {
        font-weight: bold;
      }

      p.text {
        margin-top: 1em;
      }

      i {
        margin: 10px;
        color: $staple-color;
      }
    }
  }

  .how-it-works {
    width: 100vw;
    min-height: 100vh;
    background: url('https://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_1440/v1470828431/AdobeStock_100992367_WM_x9kbsz.jpg') no-repeat center center;

    .banner {
      background: $staple-color-slightly-transparent;
      padding: 1em;
      h1 {
        color: #FFF;
      }
    }

    .step {
      height: 18vh;
      background-color: #FFF;
      margin-top: 2em;

      .text {
        padding: 6vh;
      }

      .number {
        padding-top: 2vh;
        .fa-circle {
          color: $grey-transparent;
        }
        strong {
          color: #FFF;
        }
      }
    }
  }

  .signup {
    width: 100vw;
    min-height: 80vh;
    background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_1440/v1471184801/AdobeStock_49372330_WM_cmghsd.jpg') no-repeat center center;

    .form-errors {
      color: #D8000C;
      background-color: #FFBABA;
      margin: 10px;
    }
  }
}

footer {
  background-color: $staple-color;
  .navbar {
    margin-bottom: 0px;
  }
  .footer-links {
    li {
      a {
        color: #FFF !important;
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 1024px) {
  .homepage {
    .how-it-works {
      .number {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .homepage {
    .more-about-us {
      width: 100vw;
      height: 100vh;
      background: url('https://res.cloudinary.com/openstile/image/upload/c_thumb,g_north,w_800/v1470623032/AdobeStock_89214761_WM_hamlkd.jpg') no-repeat top center;
    }

    .how-it-works {
      width: 100vw;
      min-height: 100vh;
      background: url('https://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_800/v1470828431/AdobeStock_100992367_WM_x9kbsz.jpg') no-repeat center center;
    }

    .signup {
      width: 100vw;
      min-height: 100vh;
      background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_800/v1471184801/AdobeStock_49372330_WM_cmghsd.jpg') no-repeat center center;
    }
  }
}