$staple-color-slightly-transparent: rgba(127,145,147,0.9);
$staple-color: rgb(127,145,147);
$grey-transparent: rgba(89,89,89,0.8);
$grey: rgb(89,89,89);
$form-errors-color: rgb(245,166,35);

@import url('https://fonts.googleapis.com/css?family=Muli');

html,
body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.navbar.navbar-openstile {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin: 0px;
  background-color: transparent;
  border-color: transparent;

  .navbar-nav {
    margin-top: 25px;
    li {
      a {
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        font-family: 'Muli', sans-serif;
        color: #FFF;
      }

      a:hover {
        color: #5e5e5e;
      }

      a:active {
        color: #FFF;
      }

      .btn {
        background-color: transparent;
        border: 2px solid #FFF;
      }
    }
  }
}

.carousel,
.item,
.active {
  height: 100%;
  .icon-next, .icon-prev {
    font-size: 60px !important;
  }
}

.carousel-inner {
  height: 100%;
  .carousel-caption {
    top: 40%;
    bottom: auto;
    max-height: 999999px;
    font-family: 'Muli', sans-serif;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    h3 {
      font-size: 30px;
      line-height: 35px;
    }
    h4 {
      font-size: 25px;
      line-height: 35px;
    }
  }
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.above-fold-banner {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 65%;
  background-color: $grey-transparent;
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 2vh 0;
  }
  img {
    max-width: 65%;
  }
  .banner-text {
    h3 {
      font-size: 14px;
      font-family: 'Muli', sans-serif;
      line-height: 20px;
      color: #FFF;
    }
  }
  .cta-buttons {
    .btn {
      background: $staple-color;
      border-color: $staple-color;
      margin-top: 10%;
      color: #FFF;
      width: 130px;
    }
  }
}

.marquee {
  border-radius: 20px;
  margin-top: 5em;
  margin-bottom: 2em;
  padding: 2em 0em;
  background: $grey-transparent;
  color: #FFF;

  .tag-line {
    margin: 1em 0em 2em;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
  }

  .btn {
    margin-bottom: 2em;
    background: $staple-color;
    border-color: $staple-color;
    color: #FFF;
  }
}

.homepage {

  h1, h2, h3, h4, p, a {
    font-family: 'Muli', sans-serif;
  }

  .more-about-us {
    width: 100vw;
    min-height: 70vh;
    background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_north,w_1440/v1473822871/more_about_landing_page_s0cy6p.jpg') no-repeat top center;

    .content {
      margin: 5vh 2em;

      .main-text {
        padding-top: 12vh;
        h4 {
          line-height: 35px;
        }
      }
      a.btn {
        font-size: 20px;
        font-weight: bold;
        color: #000;
        background-color: transparent;
        border: 1px solid #000;
      }
    }
  }

  .benefits {
    margin: 3em 0;

    .highlights {
      margin-top: 2em;

      h4 {
        font-weight: bold;
      }

      p.text {
        margin-top: 1em;
      }

      i {
        margin: 10px;
        color: $staple-color;
      }
    }
  }

  .how-it-works {
    width: 100vw;
    min-height: 100vh;
    background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_1440/v1473822884/how_it_works_landing_page_czokec.jpg') no-repeat center center;
    background-size: cover;

    .banner {
      background: $staple-color-slightly-transparent;
      padding: 1em;
      h1 {
        color: #FFF;
      }
    }

    .step {
      background-color: #FFF;
      box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
      margin-top: 2em;
      .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
        padding: 4vh 0;
      }

      .number {
        .fa-circle {
          color: $grey-transparent;
        }
        strong {
          color: #FFF;
        }
      }
    }

    .action-link {
      padding: 10vh 0;
      a.btn {
        font-size: 20px;
        font-weight: bold;
        color: #000;
        background-color: transparent;
        border: 1px solid #000;
      }
    }
  }

  .mc-interest-form {
    .validation-errors {
      color: $form-errors-color;
      margin-bottom: 25px;
      h3 {
        font-size: 18px;
        line-height: 24px;
      }
      h4 {
        font-size: 14px;
        line-height: 24px;
      }
    }

    input.error {
      border: 3px solid $form-errors-color;
    }
  }

  .signup {
    width: 100vw;
    min-height: 100vh;
    background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_1440/v1473822857/join_landing_page_owf0m9.jpg') no-repeat center center;
    background-size: cover;
    position: relative;

    .layer {
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .form-block {
      background-color: $grey;
      color: #FFF;
      margin-top: 20vh;
      padding: 8vh;
      .form-errors {
        color: #D8000C;
        background-color: #FFBABA;
        margin: 10px;
      }

      .btn {
        background: $staple-color;
        border-color: $staple-color;
        color: #FFF;
      }
    }
  }
}

footer {
  .navbar {
    background-color: $staple-color;
    border-color: $staple-color;
    margin-bottom: 0px;
  }
  .footer-links {
    li {
      a {
        color: #FFF !important;
        font-size: 14px !important;
        font-style: normal;
      }
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .above-fold-banner {
    img {
      margin-top: 5%;
    }
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .above-fold-banner {
    .banner-text {
      display: none;
    }
  }
  #header-brand {
    display: none;
  }
}

@media (max-width: 767px) {
  .above-fold-banner {
    .banner-text {
      display: none;
    }
  }
  .navbar-nav {
    li {
      a {
        line-height: 20px !important;
      }
    }
  }
  #header-brand {
    display: none;
  }
  .homepage {
    .more-about-us {
      min-height: 100vh;
      background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_north,w_800/v1473822871/more_about_landing_page_s0cy6p.jpg') no-repeat top center;
      background-size: cover;

      .content {
        background: rgba(255,255,255,0.7);
      }
    }

    .how-it-works {
      min-height: 100vh;
      background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_800/v1473822884/how_it_works_landing_page_czokec.jpg') no-repeat center center;
      background-size: cover;
    }

    .signup {
      min-height: 100vh;
      background: url('http://res.cloudinary.com/openstile/image/upload/c_thumb,g_center,w_800/v1473822857/join_landing_page_owf0m9.jpg') no-repeat center center;
      background-size: cover;
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .above-fold-banner {
    img {
      margin-top: 0%;
      max-width: 30%;
    }
    .cta-buttons {
      .btn {
        margin-top: 0%;
        padding: 6px 8px;
        font-size: 14px;
        border-radius: 3px;
      }
    }
  }
}
