@import "mixins";
@import "globals";

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.experience {
  h1, h2, h3, h4, a {
    font-family: 'Muli', sans-serif;
  }

  .how-it-works {
    width: 100vw;
    min-height: 120vh;
    background: url("http://res.cloudinary.com/openstile/image/upload/c_scale,w_1440/v1476138920/how_it_works_page.jpg") no-repeat top center;
    background-size: cover;

    .body {
      padding-top: 20vh;
      .step {
        background-color: $staple-color;
        box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
        margin-bottom: 30px;
        .vcenter {
          display: inline-block;
          vertical-align: middle;
          float: none;
          padding: 2vh;
        }
        .fa-circle {
          color: white;
        }
        strong {
          color: $staple-color;
        }
        h3 {
          color: white;
          font-size: 20px;
          font-weight: bold;
          line-height: 40px;
        }
        h4 {
          color: white;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    .cta {
      padding-top: 35vh;
      padding-right: 5vw;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      font-family: 'Muli', sans-serif;
      .action {
        .btn {
          margin-top: 10px;
          background: $staple-color;
          border-color: $staple-color;
          color: #FFF;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .experience {
    .how-it-works {
      min-height: 110vh;
      background: url("http://res.cloudinary.com/openstile/image/upload/c_scale,w_1440/v1476138920/how_it_works_page.jpg") no-repeat 10% center;
      background-size: cover;
      .cta {
        padding: 0 0 0 0;
        .text {
          text-align: left;
          margin-left: 50vw;
          font-size: 1.5em;
          line-height: 1.5em;
        }
        .action {
          padding-bottom: 7vh;
          a {
            float: none !important;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) and (orientation:portrait) {
  .experience {
    .how-it-works {
      background: none;
      background-color: #e5e5e5;

      .body {
        margin-left: 4vw;
        width: 100vw;

        .step {
          h3 {
            font-size: 1em;
          }
        }
      }

      .cta {
        .text {
          margin-left: 20vw;
        }
        .action {
          margin-left: 20vw;
        }
      }
    }
  }
}