@import "mixins";
@import "globals";

@import url('https://fonts.googleapis.com/css?family=Muli');

body{
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.navbar.navbar-openstile {
  position: absolute;
  z-index: 1000;
  width: 100%;
  margin: 0px;
  background-color: transparent;
  border-color: transparent;

  .large-screen {
    display: block;
  }

  .small-screen {
    display: none;
  }

  .navbar-nav {
    margin-top: 25px;
    li {
      a {
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        font-family: 'Muli', sans-serif;
        color: #FFF;
      }

      a:hover {
        color: #5e5e5e;
      }

      a:active {
        color: #FFF;
      }

      .btn {
        background-color: transparent;
        border: 2px solid #FFF;
      }
    }
  }
}

footer {
  .navbar {
    background-color: $staple-color;
    border-color: $staple-color;
    margin-bottom: 0px;
  }
  .footer-links {
    li {
      a {
        color: #FFF !important;
        font-size: 14px !important;
        font-style: normal;
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar.navbar-openstile {

    .large-screen {
      display: none;
    }

    .small-screen {
      display: block;
    }

    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
      border: none;
      .icon-bar {
        background-color: #FFF;
        width: 3em;
        height: .25em;
        margin: .5em 0;
      }
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      background-color: rgba(0,0,0,0.9);
      height: 100vh;
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }
  }
}
