/************************
Designed by : http://responsivewebinc.com
************************/

/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/* Lobster Two */
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

/* Droid Serif */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

@import 'bootstrap/glyphicons';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$state-danger-text: #ff0000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Basic CSS starts */

body{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	margin:0px !important;
}

p{
	margin:0;
	padding:0;
}

a{

}

a:hover{
	text-decoration:none;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{
	
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* block */

.block{
	padding-top:50px;
	padding-bottom:60px;
	border-bottom:1px solid #e2e2e2;
}

/* Basic CSS ends */

.tblue{
	color:#69b8e5;
}

header .logo h1 {
  font-size:100px;
  line-height:150px;
  color:#000;
  font-family: 'Lobster Two', cursive;
  margin-top:20px !important;
  text-shadow:1px 1px 1px #777;
}

header .logo a {
  color: inherit;
  text-decoration: none;
}

header .navigation a {
  color: inherit;
  text-decoration: none;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Open Sans', serif;
}

header .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #000;
  margin-bottom: 25px;
}

footer .row {
  padding-top: 25px;
  border-top: 1px solid #000;
  margin-top: 25px;
}

footer .row .footer-section {
  margin-bottom: 20px;
}

footer .row .sm-icons a {
  color: inherit;
  text-decoration: none;
}

footer .footer-section h5 {
  font-size: 15px;
  font-weight: bold;
  color: #5e5e5e;
  padding-bottom: 10px;
}

.relaunch {
  background:#555 asset_url('relaunch_splashscreen.jpg') repeat;
  background-size:cover;
  background-position:center 25%;
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.relaunch h3 {
  font-size:50px;
  line-height:55px;
  color:#fff;
  font-family: 'Lobster Two', cursive;
  margin-top:20px !important;
  text-shadow:1px 1px 1px #777;
}

.relaunch h4 {
  margin:10px 20px 10px 20px !important;
  color: #ffffff;
  font-size:25px;
  line-height:28px;
  font-weight:normal;
  font-family: 'Droid Serif', serif;
  margin-bottom:10px;
  max-height: 999999px;
}

.top-image {
  min-height: 30vh;
  margin-bottom: 50px;
}

.style-profile .top-image {
  background: #555 asset_url('get_to_know_you.jpg') repeat;
  background-position:center bottom;
  background-size: cover;
}

.style-profile h3 {
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 20px;
}

.style-profile h4 {
  font-size: 20px;
  line-height: 25px;
  color: #5e5e5e;
  padding-bottom: 15px;
}

.style-form fieldset {
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.style-form fieldset legend {
  color: #5e5e5e;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.style-form fieldset h5 {
  font-size: 18px;
  line-height: 20px;
  color: #5e5e5e;
  padding-top: 15px;
  padding-bottom: 15px;
}

.style-form fieldset .dropdowns select {
  max-width: 500px;
  margin-bottom: 15px;
}

.style-form fieldset .img-tiles .img-selector {
  padding: 10px;
  margin: 5px;
}

.style-form fieldset .img-tiles .img-selector:hover {
  border: 5px solid #428bca;
}

.style-form fieldset .img-tiles .img-selector.checked {
  border: 5px solid #428bca;
}

.style-form fieldset .radio-images img.img-label {
  max-height: 250px;
}

div.blog-container {
  border: 1px solid #e5e5e5;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
}

div.blog-main {
  border-right: 1px solid #e5e5e5;
}

div.blog-title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

div.blog-title h1 {
  font-size: 45px;
  color: #5e5e5e;
}

div.blog-byline {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.blog-content {
  padding-top: 15px;
}

div.blog-thumbnail {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

div.blog-thumbnail.border-left {
  border-left: 1px solid #e5e5e5;
}

div.blog-thumbnail-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.blog-thumbnail-title a {
  color: inherit;
  width: 380px;
}

div.blog-thumbnail-title a:hover {
  color: #000000;
}

div.blog-thumbnail-title h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #5e5e5e;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.blog-thumbnail-excerpt {
  padding-bottom: 10px;
  height: 80px;
}

div.blog-thumbnail-byline {
  padding-top: 5px;
  border-top: 1px solid #e5e5e5;
}

div.blog-thumbnail-byline p {
  font-size: 10px;
  color: #5e5e5e;
  font-style: italic;
}

div.blog-side-panel {
  padding-top: 65px;
  padding-bottom: 15px;
}

div.blog-side-panel h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 5px;
  color: #5e5e5e;
  padding-top: 5px;
}

div.blog-side-panel h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 1px;
  color: #5e5e5e;
  padding-bottom: 5px;
}

div.blog-side-panel .intro {
  padding-top: 65px;
  padding-bottom: 65px;
  border-top: 10px solid #e5e5e5;
  border-bottom: 10px solid #e5e5e5;
}

div.blog-side-panel .sm-icons {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 10px solid #e5e5e5;
}

.sm-icons i.fa-circle {
  color: #5e5e5e;
}

div.blog-side-panel .facebook-plugin {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 10px solid #e5e5e5;
}

div.blog-side-panel .twitter-plugin {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 10px solid #e5e5e5;
}

#disqus_thread {
  margin-top: 50px;
  border-top: 1px solid #e5e5e5;
}
