/************************
Designed by : http://responsivewebinc.com
************************/

/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/* Lato */
@import url(https://fonts.googleapis.com/css?family=Lato:300);

/* Playfair Display */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

@import 'bootstrap/glyphicons';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$state-danger-text: #ff0000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Basic CSS starts */

body{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	margin:0px !important;
}

p{
	margin:0;
	padding:0;
}

a{
    color: #5e5e5e;
}

a:hover{
    color: #000;
	text-decoration:none;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{
	
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* block */

.block{
	padding-top:50px;
	padding-bottom:60px;
	border-bottom:1px solid #e2e2e2;
}

/* Basic CSS ends */

.tblue{
	color:#69b8e5;
}

header .logo a {
  color: inherit;
  text-decoration: none;
}

header .navigation a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-family: 'Lato', serif;
}

header .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #000;
  margin-bottom: 25px;
}

footer .row {
  padding-top: 25px;
  border-top: 1px solid #000;
  margin-top: 25px;
}

footer .row .footer-section {
  margin-bottom: 20px;
}

footer .row .sm-icons a {
  color: inherit;
  text-decoration: none;
}

footer .footer-section h5 {
  font-size: 15px;
  font-weight: bold;
  color: #5e5e5e;
  padding-bottom: 10px;
}

#error_explanation {
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #ff0000;
}

#error_explanation ul {
  list-style-type: none;
}

.top-image {
  min-height: 30vh;
  margin-bottom: 50px;
}

.home-page.container {
  min-height: 80vh;
}

.home-page h1 {
  font-size: 7vh;
  line-height: 8vh;
  font-family: 'Lato', sans-serif;
}

.home-page h3 {
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  margin-top: 3vh;
}

.home-page.intro {
  background:#555 asset_url('style_session.jpg') no-repeat;
  background-size:cover;
  background-position:center top;
  margin-bottom: 10vh;
}

.home-page.intro h1 {
  padding-top: 20vh;
}

.home-page a {
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.home-page.how-it-works .service-item img {
  max-height: 30vh;
}

.home-page a.try-today {
  background-color: #ff4500;
  font-weight: bold;
  color: #ffffff;
}

.home-page a.try-today:hover {
  background-color: #cc3700;
}

.about-us h1, h2, h3, h4 {
  font-family: Lato, sans-serif;
}

.about-us h1 {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.about-us h2 {
  font-size: 20px;
  font-weight: bolder;
}

.about-us h3 {
  font-size: 18px;
  line-height: 20px;
}

.about-us h4 {
  font-size: 15px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
}

.about-us .service-item img {
  max-height: 200px;
}

.about-us ul {
  list-style-type: circle;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}

.about-us .founder {
  margin-top: 15px;
  margin-bottom: 10px;
}

.about-us .section {
  min-height: 50vh;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #f1f1f1;
  margin-top: 20px;
  padding: 20px;
}

.about-us .section.belief {
  background:#555 asset_url('jewelry-close-up.jpg') no-repeat;
  background-size:cover;
  background-position:center center;
}

.about-us .section.founders {
  background-color: #f2efe8;
}

.login-section {
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 50px 25px 50px 25px;
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: rgba(255,255,255,0.9);
}

.signup.container {
  background:#555 asset_url('wallpaper_rack.jpg') no-repeat;
  background-size:cover;
  background-position:center 70%;
  min-height: 68vh;
}

.experience .content {
  min-height: 50vh;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #f1f1f1;
  margin-top: 20px;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.experience img {
  max-height: 400px;
}

.experience .description {
  padding-top: 50px;
  padding-bottom: 50px;
}

.experience h4 {
  font-size: 40px;
  line-height: 45px;
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.experience h5 {
  font-size: 18px;
  line-height: 20px;
  padding: 15px;
  font-family: 'Lato', sans-serif;
}

.experience li {
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

.experience ul {
  list-style-type: circle;
}

.experience a.try-today {
  background-color: #ff4500;
  font-weight: bold;
  color: #ffffff;
  white-space: normal;
}

.experience a.try-today:hover {
  background-color: #cc3700;
}

.experience .vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.style-profile .top-image {
  background: #555 asset_url('get_to_know_you.jpg') repeat;
  background-position:center bottom;
  background-size: cover;
}

.style-profile h3 {
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 20px;
}

.style-profile h4 {
  font-size: 20px;
  line-height: 25px;
  color: #5e5e5e;
  padding-bottom: 15px;
}

.style-form fieldset {
  border: 1px solid #e5e5e5;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.style-form fieldset legend {
  color: #5e5e5e;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.style-form fieldset h5 {
  font-size: 18px;
  line-height: 20px;
  color: #5e5e5e;
  padding-top: 15px;
  padding-bottom: 15px;
}

.style-form fieldset .check-all label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.style-form fieldset .dropdowns select {
  max-width: 500px;
  margin-bottom: 15px;
}

.style-form fieldset .img-tiles img {
  max-height: 250px;
}

.style-form fieldset .img-tiles .img-selector {
  padding: 10px;
}

.style-form fieldset .img-tiles .img-selector:hover {
  -webkit-box-shadow:inset 0px 0px 0px 10px #e5e5e5;
  -moz-box-shadow:inset 0px 0px 0px 10px #e5e5e5;
  box-shadow:inset 0px 0px 0px 10px #e5e5e5;
}

.style-form fieldset .img-tiles .img-selector.checked {
  -webkit-box-shadow:inset 0px 0px 0px 10px #e5e5e5;
  -moz-box-shadow:inset 0px 0px 0px 10px #e5e5e5;
  box-shadow:inset 0px 0px 0px 10px #e5e5e5;
}

.style-form fieldset .radio-images img.img-label {
  max-height: 250px;
}

.style-form fieldset .radio-images .option {
  height: 365px;
}

.style-form a.wizard-nav {
  font-size: 20px;
  color: #000;
  padding: 10px;
}

.style-form a.wizard-nav:hover {
  background-color: #EDEDED;
  cursor: pointer;
}

.style-form input#wizard-save {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
  line-height: 12px;
}

.style-form input#wizard-save:hover {
  background-color: #EDEDED;
  cursor: pointer;
}

.boutiques .boutique-title {
  margin-top: 15px;
  margin-bottom: 25px;
}

.boutiques .cover-photo {
  position: relative;
}

.boutiques .boutique-details {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0; left: 0;
  background:rgba(0,0,0,0.7);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.boutiques .boutique-item:hover .boutique-details {
  opacity: 1;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  -ms-transition: background 1s ease;
  transition: background 1s ease;
}

.boutiques .boutique-details .contents {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  box-sizing: border-box;
  outline: 5px solid #ffffff;
  outline-offset: -20px;
}

.boutiques .boutique-details .contents img {
  max-width: 200px;
}

.boutiques .boutique-details h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  padding: 50px 15px 0px 15px;
}

.boutiques .boutique-details i {
  color: #ffffff;
}

.boutiques .intro {
  margin-bottom: 50px;
}

.boutiques .intro h1 {
  font-family: Lato, sans-serif;
  font-size: 30px;
  padding-top: 15px;
  line-height: 40px;
}

.boutiques .intro h2 {
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.boutiques .intro h3 {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.boutique-page h1, h2, h3 {
  font-family: Lato, sans-serif;
}

.boutique-page h2.store-name {
  font-size: 20px;
}

.boutique-page h3.neighborhood {
  text-decoration: underline;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boutique-page h1.store-quote {
  font-family: 'Playfair Display', sans-serif;
  font-size: 60px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.boutique-page .intro {
  min-height: 65vh;
}

.boutique-page .intro a {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.boutique-page .details h3 {
  font-size: 18px;
  line-height: 30px;
}

.boutique-page .details .section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.boutique-page .fa-tag {
  color: #e5e5e5;
}

.boutique-page .fa-tag.activated {
  color: #000000;
}

.boutique-page .schedule {
  margin-top: 50px;
}

.boutique-page .schedule .full {
  padding: 0px 15px 0px 15px;
}

.boutique-page a.try-today {
  background-color: #ff4500;
  font-weight: bold;
  color: #ffffff;
}

.boutique-page a.try-today:hover {
  background-color: #cc3700;
}

.drop-in-availability .intro {
  margin-top: 15px;
  margin-bottom: 15px;
}

.drop-in-availability .intro h3 {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.drop-in-availability .calendar {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bookings {
  min-height: 50vh;
}

.bookings .single-booking {
  min-height: 100px;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #f1f1f1;
  margin-top: 20px;
}

.bookings .single-booking .content {
  padding: 15px 15px;
}

.bookings .single-booking h1, h2, h3, h4 {
  font-family: Lato, sans-serif;
  line-height: 25px;
}

.bookings .single-booking h1 {
  font-size: 25px;
}

.bookings .single-booking h3 {
  font-size: 20px;
}

.bookings .single-booking h4, ul {
  font-size: 15px;
  font-style: italic;
}

.bookings .preferences-details {
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 30px 15px 30px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.8);
}

.bookings .preferences-details img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 10em;
}

.bookings .star-rating {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bookings .star-rating .fa-star-selected {
  color: #ffcc00;
}

.dashboard .tiles {
  margin-top: 50px;
}

.dashboard .tile {
  height: 50vh;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #f1f1f1;
  margin: 0px 10px 20px 10px;
  padding: 15vh 10px 0px 10px;
}

.dashboard .tile-1 {
  background-color: #dbe9d8;
}

.dashboard .tile-2 {
  background-color: #c2d4d8;
}

.dashboard .tile-3 {
  background-color: #f2efe8;
}

.dashboard .tile-4 {
  background-color: #b0aac2;
}

.press-kit.container {
  min-height: 70vh;
}

.press-kit h1, h2, h3 {
  font-family: Lato, sans-serif;
}

.press-kit h1 {
  font-size: 35px;
  line-height: 40px;
  padding-top: 20px;
}

.press-kit .intro {
  margin-bottom: 50px;
}

.press-kit .share-cards {
  margin-top: 15vh;
}

.press-kit .share-cards .single {
  padding: 30px;
  border: 3px #EDEDED solid;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px;
}

div.blog-container {
  border: 1px solid #e5e5e5;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
}

div.blog-main {
  border-right: 1px solid #e5e5e5;
}

div.blog-title {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

div.blog-title h1 {
  font-size: 45px;
  font-family: 'Lato', sans-serif;
  color: #5e5e5e;
}

div.blog-byline {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.blog-content {
  padding-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 35px;
}

div.blog-thumbnail {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

div.blog-thumbnail.border-left {
  border-left: 1px solid #e5e5e5;
}

div.blog-thumbnail-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.blog-thumbnail-title a {
  color: inherit;
  width: 380px;
}

div.blog-thumbnail-title a:hover {
  color: #000000;
}

div.blog-thumbnail-title h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #5e5e5e;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.blog-thumbnail-excerpt {
  padding-bottom: 10px;
  height: 80px;
}

div.blog-thumbnail-byline {
  padding-top: 5px;
  border-top: 1px solid #e5e5e5;
}

div.blog-thumbnail-byline p {
  font-size: 10px;
  color: #5e5e5e;
  font-style: italic;
}

div.blog-side-panel {
  padding-top: 65px;
  padding-bottom: 15px;
}

div.blog-side-panel h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 5px;
  color: #5e5e5e;
  padding-top: 5px;
}

div.blog-side-panel h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 1px;
  color: #5e5e5e;
  padding-bottom: 5px;
}

div.blog-side-panel .intro {
  padding-top: 65px;
  padding-bottom: 65px;
  border-top: 10px solid #e5e5e5;
  border-bottom: 10px solid #e5e5e5;
}

div.blog-side-panel .sm-icons {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 10px solid #e5e5e5;
}

.sm-icons i.fa-circle {
  color: #5e5e5e;
}

div.blog-side-panel .facebook-plugin {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 10px solid #e5e5e5;
}

div.blog-side-panel .twitter-plugin {
  padding-top: 65px;
  padding-bottom: 65px;
  border-bottom: 10px solid #e5e5e5;
}

#disqus_thread {
  margin-top: 50px;
  border-top: 1px solid #e5e5e5;
}

.dn {
  display: none;
}

/* Tablets */

@media (max-width: 991px) {
  .boutiques .boutique-details .contents img {
    max-width: 100px;
  }

  .boutiques .boutique-details h4 {
    padding: 8px;
    font-size: 12px;
  }

  .boutique-page .intro {
    min-height: 200px;
  }

  .boutique-page h1.store-quote {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .home-page.intro, .home-page.how-it-works {
    min-height: 450px;
  }

  .home-page.intro {
    margin-bottom: 75px;
  }

  .home-page.boutiques {
    min-height: 350px;
  }

  .home-page h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .home-page h3 {
    font-size: 18px;
    margin-top: 15px;
  }

  .home-page.intro h1 {
    padding-top: 40px;
  }

  .home-page a {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .home-page.how-it-works .service-item img {
    height: 250px;
  }
}

/* Mobile Phones */

@media (max-width: 767px) {
  .boutiques .boutique-details .contents img {
    display: none;
  }

}
