<div class="fit">
  <h4>How do you (generally) like your tops and bottoms to fit?</h4>
  <div class="selections">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <div class="col-md-3 col-xs-3">
          <%= form_helper.label :top_fit %>
        </div>
        <div class="col-md-9 col-xs-9">
          <%= form_helper.select :top_fit,
            ['Tight/Form-Fitting', 'Straight', 'Loose', 'Oversized'].map{|v| [v,v]},
            {prompt: true}, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <div class="col-md-3 col-xs-3">
          <%= form_helper.label :bottom_fit %>
        </div>
        <div class="col-md-9 col-xs-9">
          <%= form_helper.select :bottom_fit,
            ['Tight/Skinny', 'Straight', 'Loose/Flowy'].map{|v| [v,v]},
            {prompt: true}, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
