<div class="considerations">
  <h4>Are any of these of particular interest to you?</h4>
  <div class="options row">
    <div class="col-md-offest-1 col-xs-offset-1">
      <%= form_helper.collection_check_boxes(:special_consideration_ids, 
                              SpecialConsideration.all, :id, :name) do |builder| %>
        <div class="single-checkbox"> 
          <%= builder.label(class: "checkbox-inline col-md-2 col-xs-2") { 
              builder.check_box(class: "col-md-2 col-xs-2") + builder.text } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
