<% provide(:intro_blurb, 'Reset your OpenStile password') %>
<% provide(:cta_text, 'Change my password') %>
<% provide(:cta_link, edit_password_url(@resource, reset_password_token: @token)) %>

<p>Hello <%= @resource.first_name.capitalize %>!</p>

<p>Someone at OpenStile has requested a link to change your password. You can do this through the link below.</p>

<p>If you didn't request this, please ignore this email.</p>
