<div class="blog-side-panel">
  <div class="col-sm-12 intro text-center">
    <h3>Hand-picked items at your favorite boutiques</h3>
    <a href="<%= experience_path %>">
      <%= image_tag("wallpaper_rack.jpg", class: 'img-responsive')%>
    </a>
    <h2>Book your <i>FREE</i> style session today!</h2>
  </div>
  <div class="col-sm-12 sm-icons">
    <div class="col-xs-3">
      <a href="https://facebook.com/openstile">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="https://instagram.com/openstile">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="https://twitter.com/openstile">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="https://pinterest.com/openstile">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-sm-12 facebook-plugin text-center">
    <h3>OpenStile on Facebook</h3>
    <div class="fb-page" data-href="https://www.facebook.com/openstile"
         data-small-header="false" data-adapt-container-width="true"
         data-hide-cover="false" data-show-facepile="true">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/openstile">
          <a href="https://www.facebook.com/openstile">OpenStile</a>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-sm-12 twitter-plugin text-center">
    <h3>Latest Tweets</h3>
    <a class="twitter-timeline" href="https://twitter.com/OpenStile" data-widget-id="638943887931736064">Tweets by @OpenStile</a>
  </div>
</div>
